/* General Styling - Mobile first*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #0e1833;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  min-height: 100%;
}

ul[role='tablist'] {
  list-style: none;
  padding-left: 0;
}

p {
  font-size: 14px;
}

.bottom-line {
  height: 4px;
  background-color: #00d4ff;
}

/* Tabs */
/* Center the tabs div */
.wrapper {
  background-color: white;
  margin: auto;
  width: 90vw;
}

/* Decorate links and remove dec */
.tab {
  text-decoration-color: transparent;
  background-color: whitesmoke;
  color: #121212;
  font-weight: bold;
  font-size: clamp(0.88rem, calc(0.78rem + 0.49vw), 1.13rem);
  width: 70px;
}

/* Selected Tab */
.tab[aria-selected='true'] {
  margin-left: -5px;
  border-left: 5px solid #00d4ff;
  color: rgba(0, 0, 0, 0.7);
  background-color: black;
  color: white;
}

/* Focused tab */
.tab:focus-visible {
  background-color: #00d4ff;
  color: black;
  outline: 0.2em solid transparent;
}

.tabpanel {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  padding: 1.5rem;
  background-color: var(--bg);
}

/* hide non active panels */
.tabpanel:not(:target):not(.visible) {
  display: none;
}

.tabs {
  display: flex;
}

.tab {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
}

/* Styling for medium screens and above */
@media screen and (min-width: 768px) {
  .tabs {
    display: flex;
    flex-direction: column;
    max-height: 50%;
  }

  .tablist {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .wrapper {
    width: 90vw;
    margin: auto;
  }

  .tab {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
  }

  .wrapper {
    width: 70vw;
  }

  .tab[aria-selected='true'] {
    margin-top: -5px;
    margin-left: 0px;
    box-shadow: none;
    color: rgba(0, 0, 0, 0.7);
    background-color: black;
    border-top: 5px solid #00d4ff;
    border-left: 0;
    overflow: hidden;
    color: white;
  }

  h1 {
    font-size: 20px;
    padding-bottom: 20px;
    margin-top: -20px;
  }
}
